node_modules/
dist/
.env

dist/

.env

coverage/

generated.ts

tmp/

node_modules
*.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
report/
lcov.info

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

smart-contracts/lib/

smart-contracts/artifacts/
smart-contracts/cache/
smart-contracts/coverage.json
smart-contracts/typechain-types/

*.csv

**/build/**

.DS_Store

.env.**

.vercel
